body {
    margin: 0;
    font-family: "Archivo Black", sans-serif;
    font-weight: 400;
    font-style: normal;
    transition: background-color 500ms, color 500ms;
}
body #home{
    font-size: 300%;
    margin-left: 5%;
    margin-top: 2.5%
    transition: color 500ms;
}
body #home {
    cursor: pointer;
}
#title {
    font-size: 250%;
    margin-left: 5%;
}
#desc {
    margin-left: 10%;
}

#display {
    text-align: center;
    font-size: 300%;
    padding: 5%;
    border-radius: 25px;
    margin: 0 5%;
    transition: background-color 500ms, color 500ms;
}

#generate {
    border-radius: 25px;
    border-style: none;
    cursor: pointer;
    font-family: "Archivo Black", sans-serif;
    padding: 10px 50px;
    font-size: 50%;
}


#content {
    transition: transform 500ms;
}
#total {
    text-align: center;
    font-size: 200%;
}
label {
    font-size: 25%;
}

#disclaimer {
    position: absolute
    bottom: 0;
    left: 0;
    z-index: 10;
    font-size: 80%;
}

